<div class="header">
    <div class="section1">
        <div class="section1-head">
            <div class="logo">
                <a href="/"><img id="img-logo" src="/icon2.png" alt="Китаёза" title="Китаёза"></a>
            </div>
            {{#if isLoggedIn}}
            {{#if_eq email 'admin'}}
            <div class="LoggedUser"><a href="/admin-panel">Перейти в панель администрирования</a></div>
            {{else}}
            <div class="LoggedUser">Добро пожаловать, {{ email }}, <a href="/orders">перейти к заказам</a></div>
            {{/if_eq}}
            {{/if}}
            <div class="navbar">
                <a href="/help">Помощь</a>
                <p>|</p>
                {{#if_eq isLoggedIn false}}
                <a href="/registration">Регистрация</a>
                <p>|</p>
                <a href="#myModal" class="trigger-btn" data-toggle="modal">Войти</a>
                {{else}}
                <a href="/logout">Выйти</a>
                {{/if_eq}}
            </div>
        </div>
    </div>
    <div class="section2">
        {{#if messages.error}}
            <div class="alert alert-danger">{{ messages.error }}</div>
        {{/if}}
        {{#if messages.success}}
        <div class="alert alert-success">{{ messages.success }}</div>
        {{/if}}
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="https://goo.gl/maps/zfvKHDFdZC8nKnhb8">​ул. Шоссейная 24, 2 этаж</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <li class="nav-item" id="newReleases">
                    <p class="nav-link"><a href="/catalog">Каталог</a></p>
                </li>
                {{!-- <li class="nav-item" id="men">
                    <p class="nav-link"><a href="/avtosearch">Поиск по автомобилю</a></p>
                </li>
                <li class="nav-item">
                    <p class="nav-link"><a href="/articulsearch">Поиск по артиклу</a></p>
                </li> --}}
                <li class="nav-item">
                    <p class="nav-link">Двигатели</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Ходовые</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Рулевые</p>
                </li> 
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-2" type="search" placeholder="Поиск" aria-label="Search">
                </form>
                <a href="/favorites" class="icon">
                    <svg width="24px" height="24px" fill="#111" viewBox="0 0 24 24"><path d="M21.11 4a6.6 6.6 0 0 0-4.79-1.92A6.27 6.27 0 0 0 12 3.84 6.57 6.57 0 0 0 2.89 4c-2.8 2.68-2.45 7.3.88 10.76l6.84 6.63A2 2 0 0 0 12 22a2 2 0 0 0 1.37-.54l.2-.19.61-.57c.6-.57 1.42-1.37 2.49-2.41l2.44-2.39 1.09-1.07c3.38-3.55 3.8-8.1.91-10.83zm-2.35 9.4l-.25.24-.8.79-2.44 2.39c-1 1-1.84 1.79-2.44 2.36L12 20l-6.83-6.68c-2.56-2.66-2.86-6-.88-7.92a4.52 4.52 0 0 1 6.4 0l.09.08a2.12 2.12 0 0 1 .32.3l.9.94.9-.94.28-.27.11-.09a4.52 4.52 0 0 1 6.43 0c1.97 1.9 1.67 5.25-.96 7.98z"></path></svg>
                </a>
                <a href="/basket" class="icon">
                    <svg width="24px" height="24px" fill="#111" viewBox="0 0 24 24"><path d="M16 7a1 1 0 0 1-1-1V3H9v3a1 1 0 0 1-2 0V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v3a1 1 0 0 1-1 1z"></path><path d="M20 5H4a2 2 0 0 0-2 2v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a2 2 0 0 0-2-2zm0 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7h16z"></path></svg>
                </a>
            </div>
        </nav>
        <div class="drop-list-new-releases glassmorffect">
            <div class="drop-item">
                <h1>Двигатели</h1>
                <h4>Блоки</h4>
                <h4>Цилиндры</h4>
                <h4>Поршни</h4>
            </div>
            <div class="drop-item">
                <h1>Коробки передач</h1>
                <h4>Сцепление</h4>
                <h4>Шестерни</h4>
                <h4>Валы</h4>
            </div>
            <div class="drop-item">
                <h1>Ходовые части</h1>
                <h4>Рамы</h4>
                <h4>Мосты</h4>
                <h4>Подвески</h4>
            </div>
            <div class="drop-item">
                <h1>Рулевые части</h1>
                <h4>Рулевые приводы</h4>
                <h4>Рулевые механизмы</h4>
                <h4>Рулевые колонки</h4>
                <h4>Рулевые колёса</h4>
            </div>
        </div>
        <div class="drop-list-men glassmorffect">
            <div class="drop-item">
                <h1>Летние шины</h1>
                <h4>Летние шины 1</h4>
                <h4>Летние шины 2</h4>
                <h4>Летние шины 3</h4>
            </div>
            <div class="drop-item">
                <h1>Зимние шины</h1>
                <h4>Зимние шины 1</h4>
                <h4>Зимние шины 2</h4>
                <h4>Зимние шины 3</h4>
                <h4>Зимние шины 4</h4>
                <h4>Зимние шины 5</h4>
                <h4>Зимние шины 6</h4>
            </div>
            <div class="drop-item">
                <h1>Всесезонные шины</h1>
                <h4>Всесезонные шины 1</h4>
                <h4>Всесезонные шины 2</h4>
                <h4>Всесезонные шины 3</h4>
                <h4>Всесезонные шины 4</h4>
            </div>
        </div>
    </div>

    <script>
        var current = {{ user }}
        localStorage.setItem()
    </script>