<div class="contents1">
    <div class="float-left list-elements">
        <h4 class="bold">Список пользователей</h4>
        <div class="element separator space-s">
            <span class="bold">Email</span>
            <span>Вконтакте</span>
            <span>Телеграм</span>
            <span>WhatsApp</span>
            <span>Viber</span>
        </div>
        {{#each user}}
        <div class="element separator space-s">
            <span class="bold">{{ email }}</span>
            <span>{{ vk }}</span>
            <span>{{ telegram }}</span>
            <span>{{ whatsapp }}</span>
            <span>{{ viber }}</span>
        </div>
        {{else}}
        Пользователей пока нет
        {{/each}}
    </div>
    <div class="float-right add-form-forms login">
        <form action="/edit-user" method="PUT" class="admin-panel-form">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Введите Email пользователя" required>
            <label for="vk">Вконтакте</label>
            <input type="text" name="vk" id="vk" placeholder="Введите ссылку на Вконтакте">
            <label for="telegram">Телеграм</label>
            <input type="text" name="telegram" id="telegram" placeholder="Введите ссылку на Телеграм">
            <label for="whatsapp">WhatsApp</label>
            <input type="text" name="whatsapp" id="whatsapp" placeholder="Введите ссылку на WhatsApp">
            <label for="viber">Viber</label>
            <input type="text" name="viber" id="viber" placeholder="Введите ссылку на Viber">
                
            <button type="submit" class="btn btn-light">Редактировать</button>
        </form>
        <a href="/admin-panel" type="button" class="btn btn-light back">Вернуться в панель администратора</a>
    </div>
    <div class="clear"></div>
</div>